Repository Jujulego/jill, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, core, myr

.github/labeler.yml:

cli: packages/cli/**/*
core: packages/core/**/*
myr: packages/myr/**/*

chore(deps): update dependency @types/yargs to v17.0.7
  packages/cli/package.json
  yarn.lock
Labels: cli

chore(deps): update dependency @types/jest to v27.0.3
  e2e/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

chore(deps): update dependency @types/node to v14.17.34
  e2e/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

feat(myr): kill all tasks on shutdown
  packages/myr/src/server.ts
  packages/myr/src/tasks/tasks.resolvers.ts
  packages/myr/src/tasks/watch-manager.ts
Labels: myr

feat(myr): add shutdown resolver
  packages/myr/package.json
  packages/myr/src/control/control.resolvers.ts
  packages/myr/src/event.ts
  packages/myr/src/server.ts
  yarn.lock
Labels: myr

test(myr): MyrClient.stop
  packages/cli/mocks/myr-server.ts
  packages/cli/tests/myr/myr-client.test.ts
Labels: cli

feat(myr): add control module
  packages/myr/src/control/control.resolvers.ts
  packages/myr/src/control/control.schema.ts
  packages/myr/src/resolvers.ts
  packages/myr/src/schema.ts
Labels: myr

feat(myr): add myr stop command
  packages/cli/src/myr/command.ts
  packages/cli/src/myr/commands/kill.ts
  packages/cli/src/myr/commands/stop.ts
  packages/cli/src/myr/myr-client.ts
Labels: cli

test(myr): test stop command
  packages/cli/src/myr/commands/stop.ts
  packages/cli/tests/myr/commands/stop.test.ts
Labels: cli

test(myr): test shutdown resolver
  packages/myr/src/control/control.resolvers.ts
  packages/myr/tests/control/control.resolvers.test.ts
Labels: myr

chore: setup version update
  .yarn/versions/4e249f73.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/4e249f73.yml
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, myr

chore(myr): replace express by connect
  packages/cli/src/myr/myr-client.ts
  packages/cli/tests/myr/myr-client.test.ts
  packages/myr/package.json
  packages/myr/src/server.ts
  yarn.lock
Labels: cli, myr

chore: setup version update
  .yarn/versions/43a96c5f.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/43a96c5f.yml
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, myr

chore(deps): pin dependency @types/connect to 3.4.35
  packages/myr/package.json
  yarn.lock
Labels: myr

feat(myr): split out pidfile logic to new package
  .grenrc.json
  packages/myr/package.json
  packages/myr/src/pidfile.ts
  packages/myr/src/server.ts
  packages/myr/tests/pidfile.test.ts
  yarn.lock
Labels: myr

chore: setup version update
  .yarn/versions/2f720834.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/2f720834.yml
  packages/cli/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, myr

feat(myr): add logs query resolver
  .idea/jill.iml
  packages/myr/src/control/control.resolvers.ts
  packages/myr/src/control/control.schema.ts
Labels: myr

feat(myr): log each graphql operation
  packages/myr/src/server.ts
Labels: myr

chore(deps): update dependency eslint-plugin-jest to v25.3.0
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

feat(myr): setup graphql scalars
  packages/myr/package.json
  packages/myr/src/control/control.resolvers.ts
  packages/myr/src/control/control.schema.ts
  packages/myr/src/resolvers.ts
  packages/myr/src/schema.ts
  yarn.lock
Labels: myr

chore(deps): update yarn to v3.1.1
  .yarn/releases/yarn-3.1.0.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: none

chore: upgrade yarn and plugins
  .yarnrc.yml
Labels: none

chore(deps): update dependency typescript to v4.5.2
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

feat(myr): setup graphql subscription
  packages/myr/package.json
  packages/myr/src/control/control.resolvers.ts
  packages/myr/src/control/control.schema.ts
  packages/myr/src/pubsub.ts
  yarn.lock
Labels: myr

feat(myr): setup nest
  .yarnrc.yml
  packages/myr/main.ts
  packages/myr/package.json
  packages/myr/src/app.module.ts
  packages/myr/src/common.module.ts
  packages/myr/src/control/control.module.ts
  packages/myr/src/control/control.resolvers.ts
  packages/myr/src/control/control.schema.ts
  packages/myr/src/json-obj.scalar.ts
  packages/myr/src/logger.ts
  packages/myr/src/resolvers.ts
  packages/myr/src/schema.ts
  packages/myr/src/server.ts
  packages/myr/src/tasks/task.model.ts
  packages/myr/src/tasks/tasks.module.ts
  packages/myr/src/tasks/tasks.resolver.ts
  packages/myr/src/tasks/tasks.resolvers.ts
  packages/myr/src/tasks/tasks.schema.ts
  packages/myr/src/tasks/watch-manager.ts
  packages/myr/src/tasks/watch-task.ts
  yarn.lock
Labels: myr

feat(myr): setup babel support for decorators
  .yarnrc.yml
  packages/myr/.babelrc
  packages/myr/package.json
  tsconfig.base.json
  yarn.lock
Labels: myr

chore(myr): use tsc then babel
  .yarnrc.yml
  packages/myr/.babelrc
  packages/myr/gulpfile.js
  packages/myr/package.json
  packages/myr/src/control/control.resolvers.ts
  yarn.lock
Labels: myr

chore: optimize gulp watch
  .idea/jsLibraryMappings.xml
  packages/cli/gulpfile.js
  packages/cli/gulpfile.ts
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/core/.babelrc
  packages/core/gulpfile.js
  packages/core/gulpfile.ts
  packages/core/package.json
  packages/core/tsconfig.json
  packages/myr/.babelrc
  packages/myr/gulpfile.ts
  packages/myr/package.json
  packages/myr/tsconfig.build.json
  tsconfig.base.json
  yarn.lock
Labels: cli, core, myr

fix(myr): cli ts errors
  packages/cli/src/myr/commands/list.ts
  packages/cli/src/myr/myr-client.ts
  packages/cli/src/myr/myr.process.ts
Labels: cli

chore(deps): update actions/setup-node action to v2.5.0
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

chore(deps): update jest monorepo to v27.4.0
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

chore(deps): update dependency @types/ws to v8.2.1
  packages/myr/package.json
  yarn.lock
Labels: myr

chore(deps): update typescript-eslint monorepo to v5.5.0
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

feat(myr): add basic myr logs command
  packages/cli/src/myr/command.ts
  packages/cli/src/myr/commands/logs.ts
  packages/cli/src/myr/myr-client.ts
  packages/cli/src/wrapper.ts
  packages/myr/src/tasks/task.model.ts
Labels: cli, myr

feat(myr): add follow option to myr logs command
  packages/cli/package.json
  packages/cli/src/myr/command.ts
  packages/cli/src/myr/commands/logs.ts
  packages/cli/src/myr/myr-client.ts
  packages/myr/src/control/control.resolvers.ts
  yarn.lock
Labels: cli, myr

chore(deps): update jest monorepo
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

chore(deps): update dependency @types/node to v14.18.0
  e2e/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr
