Repository Jujulego/jill, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, core, myr

.github/labeler.yml:

cli: packages/cli/**/*
core: packages/core/**/*
myr: packages/myr/**/*

feat(cli): adapt myr stop command
  packages/cli/src/myr/command.ts
  packages/cli/src/myr/commands/stop.command.ts
  packages/cli/src/myr/commands/stop.ts
Labels: cli

feat(cli): adapt myr spawn command
  packages/cli/src/myr/command.ts
  packages/cli/src/myr/commands/spawn.command.ts
  packages/cli/src/myr/commands/spawn.ts
Labels: cli

feat(cli): adapt myr list command
  packages/cli/src/myr/command.ts
  packages/cli/src/myr/commands/list.command.ts
  packages/cli/src/myr/commands/list.ts
Labels: cli

feat(cli): adapt watch command
  packages/cli/src/commands/list.command.ts
  packages/cli/src/main.ts
  packages/cli/src/myr/watch.command.ts
  packages/cli/src/myr/watch.ts
  packages/cli/tests/myr/commands/stop.test.ts
  packages/cli/tests/myr/watch.test.ts
  packages/cli/tests/test-bed.ts
Labels: cli

chore(deps): update dependency ts-jest to v27.1.2
  e2e/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: core, myr

feat(cli): wrap Command.run to ensure define is called
  packages/cli/src/command.ts
  packages/cli/src/commands/each.command.ts
  packages/cli/src/commands/info.command.ts
  packages/cli/src/commands/list.command.ts
  packages/cli/src/commands/run.command.ts
  packages/cli/src/main.ts
  packages/cli/src/myr/command.ts
  packages/cli/src/myr/commands/kill.command.ts
  packages/cli/src/myr/commands/list.command.ts
  packages/cli/src/myr/commands/logs.command.ts
  packages/cli/src/myr/commands/spawn.command.ts
  packages/cli/src/myr/commands/stop.command.ts
  packages/cli/src/myr/watch.command.ts
  packages/cli/tests/test-bed.ts
Labels: cli

chore(deps): update dependency @types/node to v14.18.1
  e2e/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

feat(cli): plugin class
  packages/cli/src/command.ts
  packages/cli/src/main.ts
  packages/cli/src/plugin.ts
Labels: cli

feat(cli): plugin class
  packages/cli/src/main.ts
  packages/cli/src/plugin.ts
Labels: cli

feat(cli): rework command class
  packages/cli/src/command.ts
  packages/cli/src/commands/base.command.ts
  packages/cli/src/commands/info.command.ts
  packages/cli/src/commands/project.command.ts
Labels: cli

feat(myr): rework commands
  packages/cli/src/command.ts
  packages/cli/src/commands/base.command.ts
  packages/cli/src/commands/each.command.ts
  packages/cli/src/commands/info.command.ts
  packages/cli/src/commands/list.command.ts
  packages/cli/src/commands/project.command.ts
  packages/cli/src/commands/run.command.ts
  packages/cli/src/myr/commands/kill.command.ts
  packages/cli/src/myr/commands/list.command.ts
  packages/cli/src/myr/commands/logs.command.ts
  packages/cli/src/myr/commands/spawn.command.ts
  packages/cli/src/myr/commands/stop.command.ts
  packages/cli/src/myr/watch.command.ts
Labels: cli

feat(myr): add myr command
  packages/cli/src/command.ts
  packages/cli/src/myr/myr.command.ts
Labels: cli

feat(cli): rework plugin class
  packages/cli/src/command.ts
  packages/cli/src/commands/info.command.ts
  packages/cli/src/commands/list.command.ts
  packages/cli/src/main.ts
  packages/cli/src/myr/command.ts
  packages/cli/src/plugin.ts
Labels: cli

feat(myr): update testbed
  packages/cli/tests/commands/defaults.ts
  packages/cli/tests/commands/each.test.ts
  packages/cli/tests/commands/info.test.ts
  packages/cli/tests/commands/list.test.ts
  packages/cli/tests/commands/run.test.ts
  packages/cli/tests/myr/commands/stop.test.ts
  packages/cli/tests/myr/watch.test.ts
  packages/cli/tests/test-bed.ts
Labels: cli

feat(cli): remove old logger code
  packages/cli/src/filters/affected.ts
  packages/cli/src/index.ts
  packages/cli/src/logger.ts
  packages/cli/src/myr/myr-client.ts
  packages/cli/src/task-logger.ts
  packages/cli/src/wrapper.ts
  packages/cli/tests/commands/list.test.ts
  packages/cli/tests/commands/run.test.ts
  packages/cli/tests/filters/affected.test.ts
  packages/cli/tests/logger.test.ts
  packages/cli/tests/logger.ts
  packages/cli/tests/myr/myr-client.test.ts
  packages/cli/tests/task-logger.test.ts
  packages/cli/tests/wrapper.test.ts
Labels: cli

fix(cli): missing super call
  packages/cli/src/myr/commands/list.command.ts
Labels: cli

feat(cli): forbid use of console.log
  packages/cli/.eslintrc.json
  packages/cli/src/command.ts
  packages/cli/src/commands/info.command.ts
  packages/cli/src/myr/commands/list.command.ts
  packages/cli/src/utils/deps-tree.ts
Labels: cli

feat(cli): workspace command holds common workspace logic
  packages/cli/src/base.command.ts
  packages/cli/src/command.ts
  packages/cli/src/commands/each.command.ts
  packages/cli/src/commands/info.command.ts
  packages/cli/src/commands/list.command.ts
  packages/cli/src/commands/run.command.ts
  packages/cli/src/myr/commands/kill.command.ts
  packages/cli/src/myr/commands/list.command.ts
  packages/cli/src/myr/commands/logs.command.ts
  packages/cli/src/myr/commands/spawn.command.ts
  packages/cli/src/myr/commands/stop.command.ts
  packages/cli/src/myr/watch.command.ts
  packages/cli/src/project.command.ts
  packages/cli/src/workspace.command.ts
  packages/cli/tests/commands/info.test.ts
  packages/cli/tests/myr/commands/stop.test.ts
  packages/cli/tests/test-bed.ts
Labels: cli

chore(deps): update typescript-eslint monorepo to v5.8.0
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

chore: setup version bump
  .yarn/versions/99d490c7.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/99d490c7.yml
  e2e/package.json
  package.json
  packages/cli/package.json
  yarn.lock
Labels: cli

chore(deps): update dependency @types/yargs to v17.0.8
  packages/cli/package.json
  yarn.lock
Labels: cli

chore(deps): update dependency @types/node to v14.18.3
  e2e/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

feat(myr): make myr list match list attributes system
  packages/cli/src/myr/commands/list.command.ts
Labels: cli

chore(deps): update typescript-eslint monorepo to v5.8.1
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

chore(deps): update dependency eslint-plugin-jest to v25.3.2
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

chore(deps): update actions/setup-node action to v2.5.1
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

chore: add tools package
  package.json
  tools/index.ts
  tools/package.json
  tools/tsconfig.json
  tools/utils.ts
  yarn.lock
Labels: none

chore: use flow helper in all builds
  packages/cli/.babelrc
  packages/cli/gulpfile.ts
  packages/cli/package.json
  packages/core/.babelrc
  packages/core/.babelrc.js
  packages/core/.npmignore
  packages/core/gulpfile.ts
  packages/core/package.json
  packages/myr/gulpfile.ts
  packages/myr/package.json
  tools/babel.ts
  tools/index.ts
  tools/package.json
  tools/typescript.ts
  yarn.lock
Labels: cli, core, myr

chore: replace npmignore files by files attribute
  packages/core/.npmignore
  packages/core/package.json
  packages/myr/.npmignore
  packages/myr/package.json
Labels: core, myr

chore: setup version upgrade
  .yarn/versions/fb8ca242.yml
Labels: none

chore: add jill-common package
  .idea/jill.iml
  packages/common/.babelrc.js
  packages/common/.eslintrc.json
  packages/common/.gitignore
  packages/common/README.md
  packages/common/gulpfile.ts
  packages/common/jest.config.js
  packages/common/package.json
  packages/common/sonar-project.properties
  packages/common/src/index.ts
  packages/common/tests/utils/logger.ts
  packages/common/tests/utils/task.ts
  packages/common/tsconfig.json
  yarn.lock
Labels: none

chore: copy common code in jill-common package
  packages/common/package.json
  packages/common/src/cli-list.ts
  packages/common/src/command.ts
  packages/common/src/commands/base.command.ts
  packages/common/src/commands/index.ts
  packages/common/src/commands/project.command.ts
  packages/common/src/commands/workspace.command.ts
  packages/common/src/filters/affected.ts
  packages/common/src/filters/filter.ts
  packages/common/src/filters/index.ts
  packages/common/src/index.ts
  packages/common/src/logger.ts
  packages/common/src/pipeline.ts
  packages/common/src/plugin.ts
  yarn.lock
Labels: none

chore(common): copy common tests
  .idea/runConfigurations/All_Tests__jill_common_.xml
  packages/common/mocks/ora.ts
  packages/common/tests/cli-list.spec.ts
  packages/common/tests/filters/affected.test.ts
  packages/common/tests/filters/filter.test.ts
  packages/common/tests/logger.test.ts
  packages/common/tests/logger.ts
  packages/common/tests/utils/task.ts
Labels: none

chore(common): build & watch runs
  .idea/runConfigurations/build__jill_common_.xml
  .idea/runConfigurations/watch__jill_common_.xml
Labels: none

chore(core): use logic from common package
  packages/cli/package.json
  packages/cli/src/base.command.ts
  packages/cli/src/command.ts
  packages/cli/src/commands/each.command.ts
  packages/cli/src/commands/info.command.ts
  packages/cli/src/commands/list.command.ts
  packages/cli/src/commands/run.command.ts
  packages/cli/src/filters/affected.ts
  packages/cli/src/filters/filter.ts
  packages/cli/src/filters/index.ts
  packages/cli/src/logger.ts
  packages/cli/src/main.ts
  packages/cli/src/myr/commands/kill.command.ts
  packages/cli/src/myr/commands/list.command.ts
  packages/cli/src/myr/commands/logs.command.ts
  packages/cli/src/myr/commands/spawn.command.ts
  packages/cli/src/myr/commands/stop.command.ts
  packages/cli/src/myr/myr.command.ts
  packages/cli/src/myr/watch.command.ts
  packages/cli/src/pipeline.ts
  packages/cli/src/plugin.ts
  packages/cli/src/project.command.ts
  packages/cli/src/task-logger.ts
  packages/cli/src/utils/cli-list.ts
  packages/cli/src/workspace.command.ts
  packages/cli/tests/commands/info.test.ts
  packages/cli/tests/filters/affected.test.ts
  packages/cli/tests/filters/filter.test.ts
  packages/cli/tests/logger.test.ts
  packages/cli/tests/myr/commands/stop.test.ts
  packages/cli/tests/task-logger.test.ts
  packages/cli/tests/test-bed.ts
  packages/cli/tests/utils/cli-list.spec.ts
  yarn.lock
Labels: cli

chore: setup version update
  .yarn/versions/5d5bd921.yml
Labels: none

chore: add common package to pipelines
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

fix(core): tests
  packages/cli/tests/commands/each.test.ts
  packages/cli/tests/commands/list.test.ts
  packages/cli/tests/commands/run.test.ts
Labels: cli
