Repository Jujulego/jill, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, core, myr

.github/labeler.yml:

cli: packages/cli/**/*
core: packages/core/**/*
myr: packages/myr/**/*

chore(deps): update dependency msw to v0.36.0
  packages/cli/package.json
  yarn.lock
Labels: cli

chore(deps): update dependency ts-jest to v27.1.0
  e2e/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: core, myr

chore(deps): update typescript-eslint monorepo to v5.6.0
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

chore(deps): update dependency @types/ws to v8.2.2
  packages/myr/package.json
  yarn.lock
Labels: myr

chore(deps): update dependency ts-jest to v27.1.1
  e2e/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: core, myr

chore(deps): update dependency msw to v0.36.3
  packages/cli/package.json
  yarn.lock
Labels: cli

feat(myr): format logs command output
  packages/cli/src/logger.ts
  packages/cli/src/myr/commands/logs.ts
  packages/cli/src/myr/myr-client.ts
  packages/cli/src/wrapper.ts
Labels: cli

chore: setup version bump
  .yarn/versions/693452c6.yml
  yarn.lock
Labels: none

fix(myr): tests
  packages/myr/src/control/control.module.ts
  packages/myr/src/control/control.resolver.ts
  packages/myr/src/server.ts
  packages/myr/tests/control/control.resolvers.test.ts
Labels: myr

chore: update bundles & version numbers
  .yarn/versions/693452c6.yml
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

chore(deps): update dependency typescript to v4.5.3
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

feat(cli): setup oclif
  packages/cli/bin/jill.js
  packages/cli/package.json
  packages/cli/src/_commands/index.ts
  packages/cli/src/_commands/world.ts
  packages/cli/src/index.ts
  yarn.lock
Labels: cli

feat(cli): add info command
  packages/cli/src/_commands/index.ts
  packages/cli/src/_commands/info.ts
  packages/cli/src/_commands/world.ts
Labels: cli

feat(cli): move out common logic
  packages/cli/src/_commands/info.ts
  packages/cli/src/bases/base.command.ts
  packages/cli/src/bases/project.command.ts
  packages/cli/src/logger.ts
Labels: cli

feat(cli): add list command
  packages/cli/src/_commands/info.ts
  packages/cli/src/_commands/list.ts
  packages/cli/src/bases/project.command.ts
Labels: cli

feat(cli): change @oclif/plugin-help to latest
  packages/cli/package.json
  yarn.lock
Labels: cli

feat(myr): rework list command
  packages/cli/gulpfile.ts
  packages/cli/src/_commands/list.ts
Labels: cli

feat(myr): adapt run command
  packages/cli/gulpfile.ts
  packages/cli/src/_commands/info.ts
  packages/cli/src/_commands/run.ts
  packages/cli/src/bases/base.command.ts
  packages/cli/src/bases/project.command.ts
  packages/cli/src/bases/workspace.flag.ts
Labels: cli

feat(myr): adapt each command
  packages/cli/src/_commands/each.ts
  packages/cli/src/_commands/list.ts
  packages/cli/src/_commands/run.ts
  packages/cli/src/bases/deps-mode.flag.ts
Labels: cli

feat(myr): adapt info tests
  .idea/markdown.xml
  packages/cli/package.json
  packages/cli/tests/commands/info.test.ts
  yarn.lock
Labels: cli

chore(deps): update jest monorepo to v27.4.5
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

chore(deps): update babel monorepo to v7.16.5
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

chore(deps): update dependency winston-transport to v4.4.1
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update typescript-eslint monorepo to v5.7.0
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

chore(deps): update dependency typescript to v4.5.4
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

feat: setup command class
  .idea/markdown.xml
  packages/cli/src/command.ts
  packages/cli/src/commands/base.command.ts
  packages/cli/src/commands/info.command.ts
  packages/cli/src/commands/info.ts
  packages/cli/src/commands/project.command.ts
  packages/cli/src/index.ts
  packages/cli/src/logger.ts
  packages/cli/src/main.ts
  packages/cli/tests/commands/info.test.ts
Labels: cli

feat(cli): simplify logger logic
  packages/cli/.npmignore
  packages/cli/gulpfile.ts
  packages/cli/mocks/ora.ts
  packages/cli/package.json
  packages/cli/src/commands/info.ts
  packages/cli/src/commands/run.ts
  packages/cli/src/logger.ts
  packages/cli/src/wrapper.ts
  packages/cli/tests/commands/info.test.ts
  packages/cli/tests/commands/run.test.ts
  packages/cli/tests/logger.test.ts
Labels: cli

feat(cli): adapt run command
  packages/cli/src/command.ts
  packages/cli/src/commands/base.command.ts
  packages/cli/src/commands/info.command.ts
  packages/cli/src/commands/project.command.ts
  packages/cli/src/commands/run.command.ts
  packages/cli/src/index.ts
  packages/cli/src/main.ts
  packages/cli/tests/commands/info.test.ts
  packages/cli/tests/commands/run.test.ts
Labels: cli

feat: command test bed
  packages/cli/.babelrc
  packages/cli/jest.config.js
  packages/cli/mocks/myr-server.ts
  packages/cli/package.json
  packages/cli/src/command.ts
  packages/cli/src/commands/base.command.ts
  packages/cli/src/commands/project.command.ts
  packages/cli/src/myr/myr-client.ts
  packages/cli/tests/commands/each.test.ts
  packages/cli/tests/commands/info.test.ts
  packages/cli/tests/commands/list.test.ts
  packages/cli/tests/commands/run.test.ts
  packages/cli/tests/filters/affected.test.ts
  packages/cli/tests/filters/filter.test.ts
  packages/cli/tests/myr/watch.test.ts
  packages/cli/tests/task-logger.test.ts
  packages/cli/tests/test-bed.ts
  packages/myr/src/tasks/task.model.ts
  yarn.lock
Labels: cli, myr

feat: adapt list command
  packages/cli/src/commands/list.command.ts
  packages/cli/src/commands/list.ts
  packages/cli/src/commands/run.command.ts
  packages/cli/src/index.ts
  packages/cli/src/main.ts
  packages/cli/tests/commands/list.test.ts
Labels: cli

test: run command
  packages/cli/src/commands/run.ts
  packages/cli/tests/commands/info.test.ts
  packages/cli/tests/commands/run.test.ts
Labels: cli

feat: improve test-bed
  packages/cli/src/command.ts
  packages/cli/src/commands/info.command.ts
  packages/cli/src/commands/run.command.ts
  packages/cli/tests/commands/info.test.ts
  packages/cli/tests/test-bed.ts
  yarn.lock
Labels: cli

chore: lockfile
  yarn.lock
Labels: none

feat(cli): adapt each command
  packages/cli/src/commands/each.command.ts
  packages/cli/src/commands/each.ts
  packages/cli/src/index.ts
  packages/cli/src/main.ts
  packages/cli/tests/commands/each.test.ts
  packages/cli/tests/commands/run.test.ts
  packages/cli/tests/test-bed.ts
Labels: cli

fix(cli): fix positional arguments
  packages/cli/src/commands/each.command.ts
  packages/cli/src/commands/run.command.ts
Labels: cli

chore: fix jill-myr build
  packages/myr/src/tasks/task.model.ts
Labels: myr

chore: fix e2e tests
  e2e/tests/info.test.ts
Labels: none

feat: array syntax
  packages/cli/src/commands/base.command.ts
  packages/cli/src/commands/project.command.ts
Labels: cli

feat(cli): adapt myr kill command
  packages/cli/src/myr/command.ts
  packages/cli/src/myr/commands/kill.command.ts
  packages/cli/src/myr/commands/kill.ts
Labels: cli

feat(cli): adapt myr logs command
  packages/cli/src/myr/command.ts
  packages/cli/src/myr/commands/logs.command.ts
  packages/cli/src/myr/commands/logs.ts
Labels: cli
