Repository Jujulego/jill, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, core, myr

.github/labeler.yml:

cli: packages/cli/**/*
core: packages/core/**/*
myr: packages/myr/**/*

chore(myr): move main out of src
  .idea/runConfigurations/build__jill_myr_.xml
  .idea/runConfigurations/start__jill_myr_.xml
  .idea/runConfigurations/watch__jill_myr_.xml
  packages/myr/.npmignore
  packages/myr/main.ts
  packages/myr/package.json
  yarn.lock
Labels: myr

chore(deps): update dependency eslint-plugin-jest to v25.2.4
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

chore(deps): update typescript-eslint monorepo to v5.3.1
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

feat(lutin): add watch command
  packages/cli/gulpfile.js
  packages/cli/src/main.ts
  packages/cli/src/myr/myr-client.ts
  packages/cli/src/myr/watch.ts
  packages/core/src/index.ts
  packages/core/src/workspace.ts
  packages/myr/main.ts
Labels: cli, core, myr

feat(lutin): add daemon option in watch command
  packages/cli/src/main.ts
  packages/cli/src/myr/watch.ts
Labels: cli

feat(lutin): test myr client
  packages/cli/jest.config.js
  packages/cli/package.json
  packages/cli/tests/myr/myr-client.test.ts
  yarn.lock
Labels: cli

feat(lutin): split out myr server mock
  packages/cli/mocks/myr-server.ts
  packages/cli/tests/myr/myr-client.test.ts
Labels: cli

chore(deps): update dependency @types/node to v14.17.33
  e2e/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

chore(deps): update dependency nodemon to v2.0.15
  packages/myr/package.json
  yarn.lock
Labels: myr

chore(deps): update babel monorepo
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

chore(deps): update yarn to v3.1.0
  package.json
Labels: none

chore: upgrade yarn
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.0.2.cjs
  .yarn/releases/yarn-3.1.0.cjs
  .yarnrc.yml
  yarn.lock
Labels: none

test(myr): test myr client requests
  packages/cli/mocks/myr-server.ts
  packages/cli/src/myr/myr-client.ts
  packages/cli/tests/myr/myr-client.test.ts
  yarn.lock
Labels: cli

feat(cli): add deps-mode to run and each commands
  packages/cli/src/commands/each.ts
  packages/cli/src/commands/run.ts
  packages/cli/src/main.ts
  packages/cli/tests/commands/each.test.ts
  packages/cli/tests/commands/run.test.ts
  packages/core/src/workspace.ts
Labels: cli, core

chore: setup version dependencies
  .yarn/versions/4e68b4f4.yml
Labels: none

fix(core): buildDeps generators
  .idea/runConfigurations/All_Tests__jill_lutin_.xml
  .idea/runConfigurations/All_Tests__jill_myr_.xml
  packages/core/src/workspace.ts
Labels: core

chore: setup version update
  .yarn/versions/4e68b4f4.yml
Labels: none

Add deps-mode to run and each commands (#185)
  .idea/runConfigurations/All_Tests__jill_lutin_.xml
  .idea/runConfigurations/All_Tests__jill_myr_.xml
  .yarn/versions/4e68b4f4.yml
  packages/cli/src/commands/each.ts
  packages/cli/src/commands/run.ts
  packages/cli/src/main.ts
  packages/cli/tests/commands/each.test.ts
  packages/cli/tests/commands/run.test.ts
  packages/core/src/workspace.ts
Labels: cli, core

chore: update bundles & version numbers
  .yarn/versions/48c1f22b.yml
  .yarn/versions/4e68b4f4.yml
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

test(myr): MyrClient start
  .idea/runConfigurations/All_Tests__jill_lutin_.xml
  .idea/runConfigurations/All_Tests__jill_myr_.xml
  packages/cli/src/myr/myr-client.ts
  packages/cli/src/myr/myr.process.ts
  packages/cli/tests/myr/myr-client.test.ts
Labels: cli

test(myr): MyrClient _autoStart
  packages/cli/src/myr/myr-client.ts
  packages/cli/tests/myr/myr-client.test.ts
Labels: cli

test(myr): MyrClient 100% coverage
  packages/cli/tests/myr/myr-client.test.ts
Labels: cli

test(myr): watch command
  packages/cli/gulpfile.js
  packages/cli/mocks/task.ts
  packages/cli/src/myr/watch.ts
  packages/cli/tests/myr/watch.test.ts
Labels: cli

chore: setup version update
  .yarn/versions/64b40cfd.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/64b40cfd.yml
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

chore: remove babel object spread plugin
  packages/cli/.babelrc
  packages/cli/package.json
  packages/core/.babelrc
  packages/core/gulpfile.js
  packages/core/package.json
  packages/myr/.babelrc
  packages/myr/gulpfile.js
  packages/myr/package.json
Labels: cli, core, myr

chore: setup version update
  .yarn/versions/99980075.yml
Labels: none

chore: lockfile
  yarn.lock
Labels: none

feat(core): use async-lock library
  packages/core/package.json
  packages/core/src/lock.ts
  packages/core/src/project.ts
  yarn.lock
Labels: core

chore: setup version update
  .idea/jill.iml
  .yarn/versions/9f5fdf15.yml
Labels: none

test(core): 100 coverage on SpawnTask
  packages/core/src/tasks/spawn.ts
  packages/core/tests/tasks/spawn.test.ts
Labels: core

chore(deps): pin dependency @types/async-lock to 1.1.3
  packages/core/package.json
  yarn.lock
Labels: core

chore: remove clean in build tasks
  .idea/jill.iml
  packages/cli/gulpfile.js
  packages/core/gulpfile.js
  packages/core/src/workspace.ts
  packages/myr/gulpfile.js
Labels: cli, core, myr

chore(deps): update typescript-eslint monorepo to v5.4.0
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

feat(core): use normalize-package-data to validate loaded package.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/manifest.ts
  packages/core/src/project.ts
  packages/core/src/workspace.ts
  yarn.lock
Labels: core

chore: setup version update
  .yarn/versions/0adf290d.yml
Labels: none

chore(deps): pin dependency @types/normalize-package-data to 2.4.1
  packages/core/package.json
  yarn.lock
Labels: core

chore: update bundles & version numbers
  .yarn/versions/0adf290d.yml
  .yarn/versions/99980075.yml
  .yarn/versions/9f5fdf15.yml
  e2e/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

chore(deps): update dependency @babel/preset-env to v7.16.4
  packages/cli/package.json
  packages/core/package.json
  packages/myr/package.json
  yarn.lock
Labels: cli, core, myr

chore(deps): update dependency @types/yargs to v17.0.6
  packages/cli/package.json
  yarn.lock
Labels: cli
