Repository Jujulego/jill, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, core, yarn-plugin

update(yarn-plugin): setup sonarcloud
  packages/yarn/sonar-project.properties
Labels: yarn-plugin

update(yarn-plugin): ignore files
  packages/yarn/.gitignore
  packages/yarn/.npmignore
  packages/yarn/bundles/@yarnpkg/plugin-jill.js
Labels: yarn-plugin

update(yarn-plugin): add test script
  packages/yarn/package.json
Labels: yarn-plugin

fix(yarn-plugin): failing test workflow
  .idea/jill.iml
  packages/yarn/tests/.gitkeep
Labels: yarn-plugin

add(yarn-plugin): adapt one cli command
  .idea/runConfigurations/build__yarn_plugin_.xml
  .yarnrc.yml
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/yarn/package.json
  packages/yarn/sources/commands/info.ts
  packages/yarn/sources/index.ts
  tsconfig.base.json
  yarn.lock
Labels: cli, yarn-plugin

fix: comment out jill plugin
  .yarnrc.yml
Labels: none

update(yarn-plugin): factorize project loading
  packages/yarn/sources/commands/base.ts
  packages/yarn/sources/commands/info.ts
Labels: yarn-plugin

fix(yarn-plugin): lint errors
  packages/yarn/sources/commands/info.ts
Labels: yarn-plugin

chore(deps): update styfle/cancel-workflow-action action to v0.9.1
  .github/workflows/publish.yml
Labels: none

chore(deps): update dependency eslint to v7.32.0
  package.json
  packages/cli/package.json
  packages/core/package.json
  yarn.lock
Labels: cli, core

chore: disable dependabot
  .github/dependabot.yml
Labels: none

chore(deps): update dependency @types/node to v14.17.7
  packages/cli/package.json
  packages/core/package.json
  yarn.lock
Labels: cli, core

chore: tag deps prs
  renovate.json
Labels: none

update(yarn-plugin): rework command base
  packages/yarn/sources/commands/base.ts
  packages/yarn/sources/commands/info.ts
Labels: yarn-plugin

update(cli): allow command reuse
  packages/cli/src/commands/each.ts
  packages/cli/src/commands/info.ts
  packages/cli/src/commands/run.ts
  packages/cli/src/index.ts
  packages/cli/src/main.ts
  packages/cli/src/wrapper.ts
  packages/yarn/sources/commands/info.ts
Labels: cli, yarn-plugin

fix(cli): adapt tests
  packages/cli/src/wrapper.ts
  packages/cli/tests/commands/build.test.ts
  packages/cli/tests/commands/each.test.ts
  packages/cli/tests/commands/info.test.ts
  packages/cli/tests/commands/list.test.ts
  packages/cli/tests/commands/run.test.ts
Labels: cli

update(cli): update build command
  packages/cli/src/commands/build.ts
  packages/cli/src/index.ts
  packages/cli/src/main.ts
  packages/cli/tests/commands/build.test.ts
Labels: cli

add(yarn-plugin): build command
  packages/yarn/sources/commands/build.ts
  packages/yarn/sources/index.ts
Labels: yarn-plugin

update(cli): adapt each command
  packages/cli/src/commands/each.ts
  packages/cli/src/index.ts
  packages/cli/src/main.ts
  packages/cli/tests/commands/each.test.ts
Labels: cli

add(yarn-plugin): each command
  packages/yarn/sources/commands/each.ts
  packages/yarn/sources/index.ts
Labels: yarn-plugin

fix(cli): lint errors
  packages/cli/src/commands/build.ts
Labels: cli

update(jill): list filter workpsaces by script
  packages/cli/src/commands/each.ts
  packages/cli/src/commands/list.ts
Labels: cli

update(jill): test new list filter
  packages/cli/tests/commands/list.test.ts
Labels: cli

chore: setup version update
  .yarn/versions/e5478212.yml
Labels: none

chore: update version numbers
  .yarn/versions/e5478212.yml
  package.json
  packages/cli/package.json
  yarn.lock
Labels: cli

chore(deps): update typescript-eslint monorepo to v4.29.0
  package.json
  packages/cli/package.json
  packages/core/package.json
  yarn.lock
Labels: cli, core

update(cli): adapt list command
  packages/cli/src/commands/list.ts
  packages/cli/src/index.ts
  packages/cli/src/main.ts
  packages/cli/tests/commands/list.test.ts
  yarn.lock
Labels: cli

add(yarn-plugin): list command
  packages/cli/src/index.ts
  packages/yarn/sources/commands/list.ts
  packages/yarn/sources/index.ts
Labels: cli, yarn-plugin

fix(cli): failing list test
  packages/cli/tests/commands/list.test.ts
Labels: cli

update(cli): adapt run command
  packages/cli/src/commands/run.ts
  packages/cli/src/index.ts
  packages/cli/src/main.ts
  packages/cli/tests/commands/run.test.ts
Labels: cli

add(yarn-plugin): run command
  packages/yarn/sources/commands/run.ts
  packages/yarn/sources/index.ts
Labels: yarn-plugin

chore(deps): update actions/setup-node action to v2.3.1
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

chore: setup version update
  .yarn/versions/1308be16.yml
Labels: none

update(yarn-plugin): rename yarn plugin
  packages/cli/sonar-project.properties
  packages/core/sonar-project.properties
  packages/yarn/package.json
  packages/yarn/sonar-project.properties
  yarn.lock
Labels: cli, core, yarn-plugin

chore: setup pipeline for yarn plugin bundle
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
  .yarn/versions/1308be16.yml
  packages/yarn/.gitignore
  packages/yarn/.npmignore
  packages/yarn/bundles/@yarnpkg/plugin-jill.js
  packages/yarn/package.json
Labels: yarn-plugin

chore: save bundle in artifact
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

chore: setup version update
  .yarn/versions/1308be16.yml
Labels: none

.github/labeler.yml:

cli: packages/cli/**/*
core: packages/core/**/*
yarn-plugin: packages/yarn/**/*
