Repository Jujulego/jill, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, core, lutin

feat(lutin): express graphql hello world
  packages/lutin/package.json
  packages/lutin/src/main.ts
Labels: lutin

feat(lutin): add graphql-tools and graphql-tag
  packages/lutin/package.json
  packages/lutin/src/main.ts
  packages/lutin/src/resolvers.ts
  packages/lutin/src/schema.ts
Labels: lutin

feat(lutin): add graphql-playground
  packages/lutin/package.json
  packages/lutin/src/main.ts
Labels: lutin

feat(lutin): setup nodemon
  packages/lutin/nodemon.json
  packages/lutin/package.json
Labels: lutin

feat(lutin): setup winston
  packages/lutin/package.json
  packages/lutin/src/logger.ts
  packages/lutin/src/main.ts
Labels: lutin

feat(lutin): setup ws
  packages/lutin/package.json
  packages/lutin/src/main.ts
  packages/lutin/src/resolvers.ts
  packages/lutin/src/schema.ts
Labels: lutin

feat(lutin): generate unique ids for tasks
  packages/lutin/src/tasks/task.model.ts
  packages/lutin/src/tasks/tasks.resolvers.ts
  packages/lutin/src/tasks/tasks.schema.ts
Labels: lutin

feat(lutin): task model
  .idea/runConfigurations/build__jill_lutin_.xml
  .idea/runConfigurations/start__jill_lutin_.xml
  packages/lutin/package.json
  packages/lutin/src/main.ts
  packages/lutin/src/resolvers.ts
  packages/lutin/src/schema.ts
  packages/lutin/src/tasks/task.model.ts
  packages/lutin/src/tasks/tasks.resolvers.ts
  packages/lutin/src/tasks/tasks.schema.ts
Labels: lutin

feat(lutin): add spawn mutation
  packages/lutin/src/tasks/task.model.ts
  packages/lutin/src/tasks/tasks.resolvers.ts
  packages/lutin/src/tasks/tasks.schema.ts
Labels: lutin

feat(lutin): simplify task model
  packages/lutin/src/tasks/task.model.ts
  packages/lutin/src/tasks/tasks.resolvers.ts
  packages/lutin/src/tasks/tasks.schema.ts
Labels: lutin

feat(lutin): task resolver
  packages/lutin/package.json
  packages/lutin/src/tasks/task.model.ts
  packages/lutin/src/tasks/tasks.resolvers.ts
  packages/lutin/src/tasks/tasks.schema.ts
Labels: lutin

feat(lutin): add lutin client
  packages/core/package.json
  packages/core/src/lutin-client.ts
  packages/lutin/src/index.ts
  packages/lutin/src/tasks/index.ts
  packages/lutin/src/tasks/task.model.ts
Labels: core, lutin

chore: rework lutin build
  packages/cli/.npmignore
  packages/core/.npmignore
  packages/lutin/.babelrc
  packages/lutin/.eslintrc.json
  packages/lutin/.npmignore
  packages/lutin/gulpfile.js
  packages/lutin/package.json
  packages/lutin/tsconfig.build.json
  packages/lutin/tsconfig.json
  tsconfig.base.json
Labels: cli, core, lutin

chore: add lutin to pipelines
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
  packages/lutin/package.json
Labels: lutin

feat(lutin): add WatchTask based on core's SpawnTask
  packages/lutin/package.json
  packages/lutin/src/tasks/task.model.ts
  packages/lutin/src/tasks/tasks.resolvers.ts
  packages/lutin/src/tasks/tasks.schema.ts
  packages/lutin/src/tasks/watch-task.ts
Labels: lutin

chore: fix build script
  package.json
  packages/core/package.json
Labels: core

feat(lutin): fix spawn task test
  packages/core/tests/tasks/spawn.test.ts
Labels: core

feat(lutin): spawn and kill watch tasks
  packages/core/package.json
  packages/core/src/tasks/spawn.ts
  packages/core/src/tasks/task.ts
  packages/lutin/src/logger.ts
  packages/lutin/src/tasks/tasks.resolvers.ts
  packages/lutin/src/tasks/tasks.schema.ts
  packages/lutin/src/tasks/watch-task.ts
  packages/lutin/tsconfig.json
  yarn.lock
Labels: core, lutin

feat(lutin): add task id to task logs
  packages/core/src/tasks/spawn.ts
  packages/lutin/nodemon.json
  packages/lutin/src/logger.ts
  packages/lutin/src/tasks/tasks.resolvers.ts
  packages/lutin/src/tasks/watch-task.ts
Labels: core, lutin

feat(lutin): remove core's lutin client
  packages/core/package.json
  packages/core/src/lutin-client.ts
Labels: core

feat(lutin): add watch manager
  packages/lutin/src/tasks/tasks.resolvers.ts
  packages/lutin/src/tasks/watch-manager.ts
  packages/lutin/src/tasks/watch-task.ts
Labels: lutin

feat(lutin): add formatting logic to list command
  packages/cli/src/commands/list.ts
  packages/cli/src/lutin/command.ts
  packages/cli/src/lutin/commands/list.ts
Labels: cli

feat(lutin): add args to id calculation
  packages/lutin/src/tasks/watch-manager.ts
  packages/lutin/src/tasks/watch-task.ts
Labels: lutin

feat(lutin): add lutin list command
  .yarnrc.yml
  packages/cli/.babelrc
  packages/cli/src/lutin/command.ts
  packages/cli/src/lutin/commands/list.ts
  packages/cli/src/lutin/lutin-client.ts
  packages/cli/src/main.ts
  packages/cli/src/wrapper.ts
  packages/lutin/package.json
  packages/lutin/src/tasks/watch-task.ts
Labels: cli, lutin

chore: setup lutin package
  packages/lutin/tsconfig.build.json
Labels: lutin

feat(lutin): test WatchTask
  .idea/jill.iml
  packages/lutin/package.json
  packages/lutin/src/tasks/task.model.ts
  packages/lutin/src/tasks/tasks.schema.ts
  packages/lutin/src/tasks/watch-manager.ts
  packages/lutin/src/tasks/watch-task.ts
  packages/lutin/tests/tasks/watch-task.test.ts
Labels: lutin

feat(lutin): filter task list
  packages/cli/src/lutin/command.ts
  packages/cli/src/lutin/commands/list.ts
Labels: cli

feat(lutin): add lutin spawn command
  packages/cli/src/lutin/command.ts
  packages/cli/src/lutin/commands/spawn.ts
  packages/cli/src/lutin/lutin-client.ts
Labels: cli

feat(lutin): add lutin kill command
  packages/cli/src/lutin/command.ts
  packages/cli/src/lutin/commands/kill.ts
  packages/cli/src/lutin/lutin-client.ts
Labels: cli

chore: lockfile
  .idea/jill.iml
  packages/cli/package.json
  packages/lutin/.babelrc
  packages/lutin/package.json
  packages/lutin/src/tasks/task.model.ts
  packages/lutin/src/tasks/tasks.schema.ts
  yarn.lock
Labels: cli, lutin

fix(lutin): watch-task test
  .idea/runConfigurations/All_Tests__jill_lutin_.xml
  packages/lutin/tests/tasks/watch-task.test.ts
Labels: lutin

chore: setup version update
  .yarn/versions/7646fd4e.yml
Labels: none

.github/labeler.yml:

cli: packages/cli/**/*
core: packages/core/**/*
lutin: packages/lutin/**/*
