Repository Jujulego/jill, pull requests merged in 2021-09, with the labels that each got.

#89 Handle not found error on workspace loading
  .yarn/versions/d7dd448a.yml
  mock/workspaces/empty/.gitkeep
  mock/workspaces/just-a-file.txt
  packages/core/src/project.ts
  packages/core/tests/project.test.ts
Labels: bug, core

#85 Tasks v2
  .idea/jill.iml
  .yarn/versions/2d45ecc4.yml
  packages/cli/mocks/task.ts
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/each.ts
  packages/cli/src/commands/run.ts
  packages/cli/src/task-logger.ts
  packages/cli/src/utils/deps-tree.ts
  packages/cli/tests/commands/build.test.ts
  packages/cli/tests/commands/each.test.ts
  packages/cli/tests/commands/run.test.ts
  packages/cli/tests/task-logger.test.ts
  packages/core/package.json
  packages/core/sonar-project.properties
  packages/core/src/event-emitter.ts
  packages/core/src/git.ts
  packages/core/src/index.ts
  packages/core/src/lock.ts
  packages/core/src/project.ts
  packages/core/src/task-manager.ts
  packages/core/src/task.ts
  packages/core/src/tasks/index.ts
  packages/core/src/tasks/spawn.ts
  packages/core/src/tasks/task.ts
  packages/core/src/utils.ts
  packages/core/src/workspace.ts
  packages/core/tests/event-emitter.test.ts
  packages/core/tests/git.test.ts
  packages/core/tests/project.test.ts
  packages/core/tests/task-manager.test.ts
  packages/core/tests/task.test.ts
  packages/core/tests/tasks/spawn.test.ts
  packages/core/tests/tasks/task.test.ts
  packages/core/tests/utils.test.ts
  packages/core/tests/utils/logger.ts
  packages/core/tests/utils/task.ts
  packages/core/tests/workspace.test.ts
  packages/core/tsconfig.json
  packages/yarn-plugin/bundles/@yarnpkg/plugin-jill.js
  yarn.lock
Labels: enhancement, cli, core, yarn-plugin

#93 Tiny corrections
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
  .yarn/versions/29822516.yml
  e2e/tests/info.test.ts
  e2e/tests/list.test.ts
  packages/cli/src/commands/each.ts
  packages/cli/src/commands/info.ts
  packages/cli/src/commands/run.ts
  packages/core/src/project.ts
  packages/yarn-plugin/bundles/@yarnpkg/plugin-jill.js
  tsconfig.base.json
Labels: enhancement, cli, core, yarn-plugin

#95 Workspace pipeline
  .yarn/versions/dceed4f2.yml
  packages/cli/package.json
  packages/cli/src/commands/each.ts
  packages/cli/src/commands/list.ts
  packages/cli/src/filters/affected.ts
  packages/cli/src/filters/filter.ts
  packages/cli/src/filters/index.ts
  packages/cli/src/logger.ts
  packages/cli/src/main.ts
  packages/cli/src/pipeline.ts
  packages/cli/src/utils/spawn.ts
  packages/cli/tests/commands/each.test.ts
  packages/cli/tests/filters/affected.test.ts
  packages/cli/tests/filters/filter.test.ts
  packages/core/src/git.ts
  packages/core/tests/git.test.ts
  packages/yarn-plugin/bundles/@yarnpkg/plugin-jill.js
  packages/yarn-plugin/sources/commands/each.ts
  yarn.lock
Labels: enhancement, cli, core, yarn-plugin

#99 Add readmes
  .yarn/versions/015b55e6.yml
  packages/cli/README.md
  packages/cli/package.json
  packages/core/README.md
  packages/core/package.json
Labels: documentation, cli, core

#98 Setup gren
  .github/workflows/publish.yml
  .grenrc.json
Labels: documentation

#103 Cache all workspace tasks
  .yarn/versions/7afe93ed.yml
  mock/workspaces/test-a/package.json
  mock/workspaces/test-b/package.json
  mock/workspaces/test-c/package.json
  mock/workspaces/test-d/package.json
  packages/cli/mocks/task.ts
  packages/cli/package.json
  packages/cli/src/commands/build.ts
  packages/cli/src/index.ts
  packages/cli/src/main.ts
  packages/cli/tests/commands/build.test.ts
  packages/core/src/workspace.ts
  packages/core/tests/workspace.test.ts
  packages/yarn-plugin/bundles/@yarnpkg/plugin-jill.js
  packages/yarn-plugin/sources/commands/build.ts
  packages/yarn-plugin/sources/index.ts
Labels: enhancement, cli, core, yarn-plugin

#104 Add slug attribute
  .yarn/versions/bc1d6c69.yml
  e2e/tests/list.test.ts
  packages/cli/package.json
  packages/cli/src/commands/list.ts
  packages/cli/src/main.ts
  packages/cli/tests/commands/__snapshots__/list.test.ts.snap
  yarn.lock
Labels: enhancement, cli
