Repository Jujulego/jill, pull requests merged in 2021-11, with the labels that each got.

#172 Support file and workspace version protocol
  .idea/jill.iml
  .yarn/versions/fa8280c5.yml
  mock/.gitignore
  mock/.yarn/install-state.gz
  packages/core/src/workspace.ts
Labels: enhancement, core

#175 Add lutin pid file
  .yarn/versions/501d806c.yml
  packages/lutin/.gitignore
  packages/lutin/package.json
  packages/lutin/src/main.ts
  packages/lutin/src/pidfile.ts
  packages/lutin/src/tasks/tasks.resolvers.ts
  packages/lutin/src/tasks/tasks.schema.ts
  packages/lutin/tests/pidfile.test.ts
  yarn.lock
Labels: enhancement, lutin

#176 Start lutin from cli
  .gitignore
  .idea/runConfigurations/watch__jill_lutin_.xml
  .yarn/versions/0dab6e0c.yml
  packages/cli/src/logger.ts
  packages/cli/src/lutin/commands/kill.ts
  packages/cli/src/lutin/commands/list.ts
  packages/cli/src/lutin/commands/spawn.ts
  packages/cli/src/lutin/lutin-client.ts
  packages/cli/src/lutin/lutin.process.ts
  packages/lutin/src/index.ts
  packages/lutin/src/logger.ts
  packages/lutin/src/main.ts
  packages/lutin/src/pidfile.ts
  packages/lutin/src/server.ts
  packages/lutin/src/tasks/watch-manager.ts
Labels: cli, lutin

#177 Rename lutin to myr
  .github/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
  .yarn/versions/48c1f22b.yml
  README.md
  packages/cli/package.json
  packages/cli/src/main.ts
  packages/cli/src/myr/command.ts
  packages/cli/src/myr/commands/kill.ts
  packages/cli/src/myr/commands/list.ts
  packages/cli/src/myr/commands/spawn.ts
  packages/cli/src/myr/myr-client.ts
  packages/cli/src/myr/myr.process.ts
  packages/lutin/README.md
  packages/myr/.babelrc
  packages/myr/.eslintrc.json
  packages/myr/.gitignore
  packages/myr/.npmignore
  packages/myr/README.md
  packages/myr/gulpfile.js
  packages/myr/jest.config.js
  packages/myr/nodemon.json
  packages/myr/package.json
  packages/myr/sonar-project.properties
  packages/myr/src/index.ts
  packages/myr/src/main.ts
  packages/myr/src/pidfile.ts
  packages/myr/src/resolvers.ts
  packages/myr/src/schema.ts
  packages/myr/src/server.ts
  packages/myr/src/tasks/index.ts
  packages/myr/src/tasks/task.model.ts
  packages/myr/src/tasks/tasks.resolvers.ts
  packages/myr/src/tasks/tasks.schema.ts
  packages/myr/src/tasks/watch-manager.ts
  packages/myr/src/tasks/watch-task.ts
  packages/myr/tests/pidfile.test.ts
  packages/myr/tests/tasks/watch-task.test.ts
  packages/myr/tsconfig.build.json
  packages/myr/tsconfig.json
  yarn.lock
Labels: enhancement, cli, lutin

#185 Add deps-mode to run and each commands
  .idea/runConfigurations/All_Tests__jill_lutin_.xml
  .idea/runConfigurations/All_Tests__jill_myr_.xml
  .yarn/versions/4e68b4f4.yml
  packages/cli/src/commands/each.ts
  packages/cli/src/commands/run.ts
  packages/cli/src/main.ts
  packages/cli/tests/commands/each.test.ts
  packages/cli/tests/commands/run.test.ts
  packages/core/src/workspace.ts
Labels: enhancement, cli, core

#181 Add watch command
  .yarn/versions/64b40cfd.yml
  packages/cli/gulpfile.js
  packages/cli/jest.config.js
  packages/cli/mocks/myr-server.ts
  packages/cli/mocks/task.ts
  packages/cli/package.json
  packages/cli/src/main.ts
  packages/cli/src/myr/myr-client.ts
  packages/cli/src/myr/myr.process.ts
  packages/cli/src/myr/watch.ts
  packages/cli/tests/myr/myr-client.test.ts
  packages/cli/tests/myr/watch.test.ts
  packages/core/src/index.ts
  packages/myr/main.ts
  yarn.lock
Labels: enhancement, cli, core, myr

#186 Simplify babel config
  .yarn/versions/99980075.yml
  packages/cli/.babelrc
  packages/cli/package.json
  packages/core/.babelrc
  packages/core/gulpfile.js
  packages/core/package.json
  packages/myr/.babelrc
  packages/myr/gulpfile.js
  packages/myr/package.json
  yarn.lock
Labels: enhancement, cli, core, myr

#187 Use async-lock library
  .idea/jill.iml
  .yarn/versions/9f5fdf15.yml
  packages/core/package.json
  packages/core/src/lock.ts
  packages/core/src/project.ts
  yarn.lock
Labels: enhancement, core

#190 Use normalize-package-data
  .yarn/versions/0adf290d.yml
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/manifest.ts
  packages/core/src/project.ts
  packages/core/src/workspace.ts
  yarn.lock
Labels: enhancement, core

#200 Add myr stop command
  .yarn/versions/4e249f73.yml
  packages/cli/mocks/myr-server.ts
  packages/cli/src/myr/command.ts
  packages/cli/src/myr/commands/kill.ts
  packages/cli/src/myr/commands/stop.ts
  packages/cli/src/myr/myr-client.ts
  packages/cli/tests/myr/commands/stop.test.ts
  packages/cli/tests/myr/myr-client.test.ts
  packages/myr/package.json
  packages/myr/src/control/control.resolvers.ts
  packages/myr/src/control/control.schema.ts
  packages/myr/src/event.ts
  packages/myr/src/resolvers.ts
  packages/myr/src/schema.ts
  packages/myr/src/server.ts
  packages/myr/src/tasks/tasks.resolvers.ts
  packages/myr/src/tasks/watch-manager.ts
  packages/myr/tests/control/control.resolvers.test.ts
  yarn.lock
Labels: enhancement, cli, myr

#201 Use connect instead of express
  .yarn/versions/43a96c5f.yml
  packages/cli/src/myr/myr-client.ts
  packages/cli/tests/myr/myr-client.test.ts
  packages/myr/package.json
  packages/myr/src/server.ts
  yarn.lock
Labels: dependencies, cli, myr

#203 Split out pidfile logic to new package
  .grenrc.json
  .yarn/versions/2f720834.yml
  packages/myr/package.json
  packages/myr/src/pidfile.ts
  packages/myr/src/server.ts
  packages/myr/tests/pidfile.test.ts
  yarn.lock
Labels: enhancement, myr
