Repository Jujulego/jill, pull requests merged in 2023-01, with the labels that each got.

#453 Test group command
  e2e/group.test.ts
  e2e/run.test.ts
  src/commands/group.tsx
  src/services/task-expr.service.ts
  tests/commands/group.test.tsx
  tests/services/parser.test.ts
  tests/services/task-expr.test.ts
  tests/services/task-manager.test.ts
  tests/ui/group-task-spinner.test.tsx
Labels: enhancement

#466 Add node 18 support
  package.json
  yarn.lock
Labels: enhancement, dependencies

#470 Add plugin class
  e2e/plugin.test.ts
  package.json
  plugin.js
  src/bases/command.ts
  src/commands/each.tsx
  src/commands/group.tsx
  src/commands/list.tsx
  src/commands/run.tsx
  src/commands/tree.tsx
  src/commons/git.service.ts
  src/commons/spinner.service.ts
  src/core.plugin.ts
  src/index.ts
  src/inversify.config.ts
  src/main.ts
  src/middlewares/load-project.ts
  src/middlewares/load-workspace.ts
  src/modules/command.ts
  src/modules/ink-command.tsx
  src/modules/middleware.ts
  src/modules/module.ts
  src/modules/plugin-loader.service.ts
  src/modules/plugin.ts
  src/modules/service.ts
  src/plugins/types.ts
  src/plugins/utils.ts
  src/tasks/task-expr.service.ts
  src/types.ts
  tests/commands/each.test.tsx
  tests/commands/group.test.tsx
  tests/commands/list.test.tsx
  tests/commands/run.test.tsx
  tests/commands/tree.test.tsx
  tests/middlewares/load-project.test.ts
  tests/middlewares/load-workspace.test.ts
  tests/modules/command.test.ts
  tests/modules/plugin-loader.test.ts
  tests/plugins/plugin-loader.test.ts
  tests/plugins/utils.test.ts
  tools/test-bed.ts
Labels: enhancement

#484 Optimize injections
  e2e/plugin.test.ts
  package.json
  src/commands/each.tsx
  src/commands/group.tsx
  src/commands/list.tsx
  src/commands/run.tsx
  src/commands/tree.tsx
  src/middlewares/load-workspace.ts
  src/modules/ink-command.tsx
  src/project/project.ts
  src/project/workspace.ts
Labels: enhancement

#485 Update readme
  README.md
  package.json
Labels: documentation
