Repository Jujulego/jill, pull requests merged in 2023-11, with the labels that each got.

#871 Replace tiny glob
  package.json
  src/project/project.ts
  tests/project/project.test.ts
  tests/project/workspace.test.ts
  yarn.lock
Labels: enhancement, dependencies

#875 feat(commands): each command allow no matching workspaces
  src/commands/each.ts
  tests/commands/each.test.tsx
Labels: bug

#876 Sort list output
  e2e/list.test.ts
  src/commands/list.tsx
  src/commons/logger/log.gateway.ts
  src/main.ts
  src/modules/command.ts
  tests/commands/list.test.tsx
Labels: enhancement

#882 Upgrade aegis
  package.json
  yarn.lock
Labels: dependencies, javascript

#889 Change sequence operator
  README.md
  e2e/group.test.ts
  src/tasks/task-expr.service.ts
  tests/tasks/task-expr.test.ts
Labels: enhancement

#892 Use task expression on run command
  README.md
  e2e/run.test.ts
  src/commands/group.ts
  src/commands/run.ts
  src/index.ts
  src/main.ts
  src/tasks/errors.ts
  src/tasks/task-expression.service.ts
  tests/commands/group.test.tsx
  tests/tasks/task-expression.test.ts
Labels: enhancement

#893 Use task expression on each
  README.md
  e2e/each.test.ts
  src/commands/each.ts
  src/commands/run.ts
  src/filters/scripts.filter.ts
  src/tasks/task-expression.service.ts
  tests/tasks/task-expression.test.ts
Labels: enhancement

#909 Scrollable task spinner
  e2e/each.test.ts
  e2e/exec.test.ts
  e2e/group.test.ts
  e2e/run.test.ts
  src/index.ts
  src/modules/task-command.tsx
  src/tasks/task-expression.service.ts
  src/ui/group-task-spinner.tsx
  src/ui/hooks/useFlatTaskTree.ts
  src/ui/hooks/useIsVerbose.ts
  src/ui/hooks/useStdoutDimensions.ts
  src/ui/task-manager-spinner.tsx
  src/ui/task-spinner.tsx
  src/ui/task-tree-completed.tsx
  src/ui/task-tree-full-spinner.tsx
  src/ui/task-tree-scrollable-spinner.tsx
  src/ui/task-tree-spinner.tsx
  src/ui/task-tree-stats.tsx
  tests/commands/each.test.tsx
  tests/commands/exec.test.tsx
  tests/commands/group.test.tsx
  tests/commands/run.test.tsx
  tests/modules/task-command.test.tsx
  tests/ui/group-task-spinner.test.tsx
  tests/ui/task-manager-spinner.test.tsx
  tools/test-bed.ts
  tools/test-tasks.ts
  yarn.lock
Labels: enhancement
